<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Tables</title>
</head>

<body>
    <div><button type="button" onClick="sendmsg({ command: 'formattable'})">Format Table</button></div>
    <div><label for="nbcols">Nb Columns:</label><input type="number" id="nbcols" min="1" max="20" />
        <label for="nbrows">Nb Rows:</label><input type="number" id="nbrows" min="1" max="100" />
        <button type="button"
            onClick="sendmsg({ command: 'createtable', nbrows: document.getElementById('nbrows').value, nbcols: document.getElementById('nbcols').value })">Create
            Table</button></div>
    <script>
        const vscode = acquireVsCodeApi();
        function sendmsg(command) {
            vscode.postMessage(command)
        }
    </script>
</body>

</html>